{
   "kind":"Service",
   "apiVersion":"v1",
   "metadata":{
      "name":"api",
      "labels":{
         "app":"api"
      },
      "annotations": {}
   },
   "spec":{
      "ports": [
         {
           "name": "http",
           "port":80,
           "targetPort":"http-server"
         }
      ],
      "selector":{
         "app":"api"
      },
      "type": "LoadBalancer"
   }
}
