{
   "kind":"ReplicationController",
   "apiVersion":"v1",
   "metadata":{
      "name":"api",
      "labels":{
         "app":"api"
      }
   },
   "spec":{
      "replicas":1,
      "selector":{
         "app":"api"
      },
      "template":{
         "metadata":{
            "labels":{
               "app":"api"
            }
         },
         "spec":{
            "containers":[
               {
                  "name":"api",
                  "image":"${api_image}",
                  "resources": {
                    "limits": {
                      "memory": "64Mi",
                      "cpu": "50m"
                    }
                  },
                  "ports":[
                     {
                        "name":"http-server",
                        "containerPort":8080
                     }
                  ],
                  "env": [
                    {
                      "name": "API_PORT",
                      "value": "${api_port}"
                    },
                    {
                      "name": "REDIS_PORT",
                      "value": "${redis_port}"
                    },
                    {
                      "name": "REDIS_HOST",
                      "value": "${redis_host}"
                    }
                  ]
               },
               {
                 "name":"redis",
                 "image":"${redis_image}",
                 "resources": {
                   "limits": {
                     "memory": "64Mi",
                     "cpu": "50m"
                   }
                 },
                 "command":[
                   "redis-server",
                   "--save",
                   "\"\"",
                   "--appendonly",
                   "no"
                 ],
                 "ports":[
                    {
                       "name":"redis",
                       "containerPort":6379
                    }
                 ]
               }
            ]
         }
      }
   }
}
